<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="xTrade.Properties.Settings.xTradeConnectionString"
            connectionString="Data Source=NONE-8933270085\SQLEXPRESS;Initial Catalog=xTrade;Persist Security Info=True;User ID=admin;Password=admin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>